@model DemoMVC.Models.Student

<h2>Add Student</h2>

<form asp-action="Create">

<div>
<label>Full Name</label>
<input asp-for="FullName"/>
<span asp-validation-for="FullName"></span>
</div>

<div>
<label>Student Code</label>
<input asp-for="StudentCode"/>
<span asp-validation-for="StudentCode"></span>
</div>

<button type="submit">Save</button>

</form>