@model IEnumerable<DemoMVC.Models.Student>

<h2>Student List</h2>

<table border="1">
<tr>
    <th>ID</th>
    <th>Full Name</th>
    <th>Student Code</th>
</tr>

@foreach (var item in Model)
{
<tr>
    <td>@item.Id</td>
    <td>@item.FullName</td>
    <td>@item.StudentCode</td>
</tr>
}

</table>