<h2>Create new Student</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="StudentCode">Ma SV</label>
        <input type="text" class="form-control" name="StudentCode" />
    </div>
    <div class="form-group">
        <label for="FullName">Ho Ten SV</label>
        <input type="text" class="form-control" name="FullName" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>