
<h2>View Index cua Student Controller: @ViewBag.ThongBao</h2>
<form asp-action="Index" method="post">
    <input type="text" name="StudentCode" placeholder="Nhập vào mã sinh viên" />
    <input type="text" name="FullName" placeholder="Nhập vào họ tên" />
    <button type="submit">Send Data</button>
</form>