<h2>Nhập mã sinh viên</h2>

<form method="post">
    <input type="text" name="fullName" placeholder="Nhập họ tên" />
    <input type="text" name="StudentCode" placeholder="Nhập MSV" />
    
    <br /><br />
    <button type="submit">Gửi</button>
</form>

@if (ViewBag.Message != null)
{
    <hr />
    <h3>@ViewBag.Message</h3>
}